[submodule "vendor/fmdb"]
	path = vendor/fmdb
	url = git://github.com/couchbaselabs/fmdb.git
[submodule "vendor/CocoaHTTPServer"]
	path = vendor/CocoaHTTPServer
	url = git://github.com/robbiehanson/CocoaHTTPServer.git
[submodule "vendor/MYUtilities"]
	path = vendor/MYUtilities
	url = git://github.com/snej/MYUtilities.git
[submodule "vendor/oauthconsumer"]
	path = vendor/oauthconsumer
	url = git://github.com/couchbaselabs/ios-oauthconsumer.git
