[submodule "vendor/CocoaHTTPServer"]
	path = vendor/CocoaHTTPServer
	url = git://github.com/couchbaselabs/CocoaHTTPServer.git
[submodule "vendor/MYUtilities"]
	path = vendor/MYUtilities
	url = git://github.com/snej/MYUtilities.git
[submodule "vendor/oauthconsumer"]
	path = vendor/oauthconsumer
	url = git://github.com/couchbaselabs/ios-oauthconsumer.git
[submodule "vendor/JSON-Schema-Test-Suite"]
	path = vendor/JSON-Schema-Test-Suite
	url = git://github.com/json-schema/JSON-Schema-Test-Suite.git
[submodule "vendor/WebSockets-Cocoa"]
	path = vendor/WebSockets-Cocoa
	url = git://github.com/couchbaselabs/WebSockets-Cocoa.git
[submodule "vendor/CBForest"]
	path = vendor/CBForest
	url = git://github.com/couchbaselabs/cbforest.git
[submodule "vendor/fmdb"]
	path = vendor/fmdb
	url = git://github.com/couchbaselabs/fmdb.git
[submodule "vendor/BLIP"]
	path = vendor/BLIP
	url = git://github.com/couchbaselabs/BLIP-Cocoa.git
