.DS_Store
*.pbxuser
*.perspectivev3
*.mode1v3
*.xcscmblueprint
*.xccheckout
*.framework
*.a
*~
xcuserdata/
/build/
DerivedData/
obj/
derived_src/
frameworks/
*-build.log

# CBL files:
Tests/Extensions/CouchbaseLiteVectorSearch.xcframework
Tests/Extensions/LICENSE.txt
Tests/Extensions/Build
vendor/couchbase-lite-core-EE

# spm 
.swiftpm/*

# AppCode
.idea
