//
//  CBL ObjC.xcconfig
//  CouchbaseLite
//
//  Copyright (c) 2017 Couchbase, Inc All rights reserved.
//
//  Licensed under the Apache License, Version 2.0 (the "License");
//  you may not use this file except in compliance with the License.
//  You may obtain a copy of the License at
//
//  http://www.apache.org/licenses/LICENSE-2.0
//
//  Unless required by applicable law or agreed to in writing, software
//  distributed under the License is distributed on an "AS IS" BASIS,
//  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//  See the License for the specific language governing permissions and
//  limitations under the License.
//

DEFINES_MODULE               = YES
DYLIB_COMPATIBILITY_VERSION  = 1
DYLIB_CURRENT_VERSION        = 1
DYLIB_INSTALL_NAME_BASE      = @rpath
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER            = $(SRCROOT)/Objective-C/Internal/CBLPrefix.h
HEADER_SEARCH_PATHS          = $(SRCROOT)/vendor/couchbase-lite-core/C/include $(SRCROOT)/vendor/couchbase-lite-core/C $(SRCROOT)/vendor/couchbase-lite-core/vendor/fleece/Fleece $(SRCROOT)/vendor/couchbase-lite-core/vendor/fleece/ObjC $(SRCROOT)/vendor/couchbase-lite-core/vendor/fleece/Fleece/Mutable/ $(SRCROOT)/vendor/couchbase-lite-core/Replicator/Obj-C
INFOPLIST_FILE               = Objective-C/Info.plist
INSTALL_PATH                 = $(LOCAL_LIBRARY_DIR)/Frameworks
LD_RUNPATH_SEARCH_PATHS      = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
OTHER_LDFLAGS                = -ObjC
PRODUCT_BUNDLE_IDENTIFIER    = com.couchbase.CouchbaseLite
PRODUCT_NAME                 = CouchbaseLite
SKIP_INSTALL                 = YES
