//
//  CBL ObjC Tests.xcconfig
//  CouchbaseLite
//
//
//  Copyright (c) 2017 Couchbase, Inc All rights reserved.
//
//  Licensed under the Apache License, Version 2.0 (the "License");
//  you may not use this file except in compliance with the License.
//  You may obtain a copy of the License at
//
//  http://www.apache.org/licenses/LICENSE-2.0
//
//  Unless required by applicable law or agreed to in writing, software
//  distributed under the License is distributed on an "AS IS" BASIS,
//  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//  See the License for the specific language governing permissions and
//  limitations under the License.
//
//

HEADER_SEARCH_PATHS       = $(SRCROOT)/vendor/couchbase-lite-core/C/include $(SRCROOT)/vendor/couchbase-lite-core/vendor/fleece/API $(SRCROOT)/vendor/couchbase-lite-core/vendor/fleece/ObjC
INFOPLIST_FILE            = Objective-C/Tests/Info.plist
LD_RUNPATH_SEARCH_PATHS   = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
PRODUCT_BUNDLE_IDENTIFIER = com.couchbase.CouchbaseLiteTests
PRODUCT_NAME              = CouchbaseLiteTests
