//
//  Project_Debug_EE.xcconfig
//
//  Copyright (c) 2018 Couchbase, Inc All rights reserved.
//


#include "Project_Debug.xcconfig"

CBL_SWIFT_MODULEMAP_FILE = Swift/CouchbaseLiteSwift-EE.modulemap

GCC_PREPROCESSOR_DEFINITIONS = ${GCC_PREPROCESSOR_DEFINITIONS_DEF} COUCHBASE_ENTERPRISE
OTHER_SWIFT_FLAGS = -DCOUCHBASE_ENTERPRISE
