//
//  Project_Release_EE.xcconfig
//
//  Copyright (c) 2018 Couchbase, Inc All rights reserved.
//

#include "Project_Release.xcconfig"

CBL_EXPORTED_SYMBOLS_FILE = ../Sources/Objective-C/CouchbaseLite.exp
CBL_SWIFT_PRIVATE_MODULEMAP_FILE = ../Sources/Swift/CouchbaseLiteSwift.private.modulemap

GCC_PREPROCESSOR_DEFINITIONS  = ${GCC_PREPROCESSOR_DEFINITIONS_DEF} COUCHBASE_ENTERPRISE
OTHER_SWIFT_FLAGS = -DCOUCHBASE_ENTERPRISE
SWIFT_ACTIVE_COMPILATION_CONDITIONS = COUCHBASE_ENTERPRISE

BUILD_LIBRARY_FOR_DISTRIBUTION   = YES
