//
//  Project_Release.xcconfig
//  CouchbaseLite
//
//  Copyright (c) 2017 Couchbase, Inc All rights reserved.
//
//  Licensed under the Apache License, Version 2.0 (the "License");
//  you may not use this file except in compliance with the License.
//  You may obtain a copy of the License at
//
//  http://www.apache.org/licenses/LICENSE-2.0
//
//  Unless required by applicable law or agreed to in writing, software
//  distributed under the License is distributed on an "AS IS" BASIS,
//  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//  See the License for the specific language governing permissions and
//  limitations under the License.
//

#include "Project.xcconfig"

DEAD_CODE_STRIPPING             = YES                   // Strip dead code
DEBUG_INFORMATION_FORMAT        = dwarf-with-dsym       // Debug symbols in external .dSYM file
DEPLOYMENT_POSTPROCESSING       = YES                   // Enable symbol stripping
STRIP_STYLE                     = non-global
ENABLE_NS_ASSERTIONS            = NO                    // Disable NSAssert
ENABLE_TESTABILITY              = NO
GCC_OPTIMIZATION_LEVEL          = s                     // s=Small, fast=Fastest
GCC_PREPROCESSOR_DEFINITIONS    = NDEBUG=1 CBL_VERSION_STRING="\"$(CBL_VERSION_STRING)\"" CBL_BUILD_NUMBER="$(CBL_BUILD_NUMBER)" CBL_PRODUCT_NAME="\"$(PRODUCT_NAME)\"" $(EE_PP_DEFS) $(inherited) // NDEBUG is recognized by Unix headers
LD_GENERATE_MAP_FILE            = YES                   // Generate link map, to analyze code size
LD_MAP_FILE_PATH                = $(CONFIGURATION_BUILD_DIR)/$(PRODUCT_NAME)-LinkMap-$(CURRENT_ARCH).txt
LLVM_LTO                        = YES                   // Link-time optimization FTW!
MTL_ENABLE_DEBUG_INFO           = NO                    // ???
STRIP_INSTALLED_PRODUCT         = YES                   // Strip debug symbols
SWIFT_OPTIMIZATION_LEVEL        = -Onone                // No Optimization
VALIDATE_PRODUCT                = YES                   // Perform validation checks on the product
