//
// Project_Debug.xcconfig
// CouchbaseLite
//
//  Copyright (c) 2017 Couchbase, Inc All rights reserved.
//
//  Licensed under the Apache License, Version 2.0 (the "License");
//  you may not use this file except in compliance with the License.
//  You may obtain a copy of the License at
//
//  http://www.apache.org/licenses/LICENSE-2.0
//
//  Unless required by applicable law or agreed to in writing, software
//  distributed under the License is distributed on an "AS IS" BASIS,
//  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//  See the License for the specific language governing permissions and
//  limitations under the License.
//

#include "Project.xcconfig"

DEBUG_INFORMATION_FORMAT            = dwarf
ENABLE_TESTABILITY                  = YES
GCC_OPTIMIZATION_LEVEL              = 0
GCC_PREPROCESSOR_DEFINITIONS        = DEBUG=1 CBL_VERSION_STRING="\"$(CBL_VERSION_STRING)\"" CBL_BUILD_NUMBER="$(CBL_BUILD_NUMBER)" CBL_PRODUCT_NAME="\"$(PRODUCT_NAME)\"" $(EE_PP_DEFS) $(inherited)
MTL_ENABLE_DEBUG_INFO               = YES
ONLY_ACTIVE_ARCH                    = YES
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
SWIFT_COMPILATION_MODE              = singlefile
SWIFT_OPTIMIZATION_LEVEL            = -Onone

